<div class="container">

    <form class="well form-horizontal" action="#" method="post" id="contact_form">
        <fieldset>

            <legend class="center">
                <h2><b>Registration Form</b></h2>
            </legend><br>


            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input [ngClass]="{incorrect: boolName == false}" name="first_name" placeholder="Name" class="form-control" type="text" (input)="checkName($event)">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input [ngClass]="{incorrect: boolEmail == false}" name="email" placeholder="E-Mail Address" class="form-control" type="text" (input)="checkEmail($event)">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label">Date of Birth</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        <input name="first_name" placeholder="Name" class="form-control" type="date">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">Contact No.</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input [ngClass]="{incorrect: boolPhno == false}" name="contact_no" placeholder="+91" class="form-control" type="text" (input)="checkPhno($event)">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label">Gender</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label class="radio-inline">
  <input type="radio" name="optradio">Male
</label>
                        <label class="radio-inline">
  <input type="radio" name="optradio">Female
</label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input [ngClass]="{incorrect: boolPass == false}" name="user_password" placeholder="Password" class="form-control" type="password" (input)="checkPass($event)">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">Confirm Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input [ngClass]="{incorrect: boolConfPass == false}" name="confirm_password" placeholder="Confirm Password" class="form-control" type="password" (input)="checkConfPass($event)">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                    <button [disabled]="boolDisabled" type="submit" class="btn btn-warning">SUBMIT <span class="glyphicon glyphicon-thumbs-up"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>